*{
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    overflow: hidden;
}

.fd-main {
    position: relative;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

/*头部*/
.fd-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: black;
}
.fd-header {
    position: absolute;
    width: 100%;
    height: 50px;
    /*background: blue;*/
}
.fd-tab {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    /*height: 65px;*/
    /*background: pink;*/
}
/*头*/
.fd-logo {
    display: inline-block;
    width: 22%;
    height: 100%;
    /*background: #00cc66;*/
}
.fd-logo-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/logo.png")no-repeat;
    background-size: 50px 50px;
}
.fd-text{
    display: inline-block;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 27px;
    color: white;
}
.fd-tabs {
    display: inline-block;
    width: 68%;
    height: 100%;
    /*background: #0aabff;*/
    line-height: 50px;
    font-size: 20px;
    color: white;
}
.fd-tabs > span {
    margin-right: 7px;
}
.fd-notic {
    display: inline-block;
    line-height: 64px;
    width: 9%;
    height: 100%;
    color: white;
    /*background: #00cc66;*/
}
.fd-span {
    margin-right: 20px;
}
.fd-search-button {
    display: inline-block;
    text-align: center;
}
.aty-form-item {
    margin-bottom: 6px;
}




/*主要内容*/
.fd-main-content {
    position: relative;
    width: 100%;
    height: 90%;
    /*background: aqua;*/
}
/*面包屑相关div*/
.fd-bar {
    position: relative;
    width: 100%;
    height: 143px;
    /*background: yellow;*/
}
.fd-nav {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    /*background: peru;*/
}
.fd-nav-text {
    width: 100%;
    height: 25px;
    /*background: blueviolet;*/
}
.fd-title {
    line-height: 40px;
    width: 100%;
    height: 40px;
    /*background: black;*/
}
.fd-search {
    width: 100%;
    height: 77px;
    /*background: brown;*/
}


.fd-content {
    width: 100%;
    height: 83.5%;
    /*background: green;*/
}
.fd-details {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    /*height: 50px;*/
    background: #F0F2F5;
}
.fd-content1 {
    margin-top: 20px;
    width: 100%;
    height: 95%;
    /*background: aquamarine;*/
}
/*.fd-table {*/
/*    margin-top: 20px;*/
/*    width: 100%;*/
/*    height: 96%;*/
/*    background: aquamarine;*/
/*}*/

/*底部*/
.fd-bottom {
    width: 100%;
    height: 100%;
    /*background: blue;*/
}
.fd-ps {
    /*position: relative;*/
    margin: auto;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    width: 80%;
    height: 100%;
    text-align: center;
    color: #a8b1b6;
    background: #F0F2F5;
}



