/*!*头*!*/
/*.fd-logo {*/
/*    display: inline-block;*/
/*    width: 22%;*/
/*    height: 100%;*/
/*    !*background: #00cc66;*!*/
/*}*/
/*.fd-logo-img {*/
/*    display: inline-block;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background: url("../img/logo.png")no-repeat;*/
/*    background-size: 50px 50px;*/
/*}*/
/*.fd-text{*/
/*    display: inline-block;*/
/*    line-height: 50px;*/
/*    font-family: "微软雅黑";*/
/*    font-size: 27px;*/
/*    color: white;*/
/*}*/
/*.fd-tabs {*/
/*    display: inline-block;*/
/*    width: 68%;*/
/*    height: 100%;*/
/*    background: #0aabff;*/
/*    line-height: 50px;*/
/*    font-size: 20px;*/
/*    color: white;*/
/*}*/
/*.fd-tabs > span {*/
/*    margin-right: 7px;*/
/*}*/
/*.fd-notic {*/
/*    display: inline-block;*/
/*    line-height: 64px;*/
/*    width: 9%;*/
/*    height: 100%;*/
/*    color: white;*/
/*    background: #00cc66;*/
/*}*/
/*.fd-span {*/
/*    margin-right: 20px;*/
/*}*/
/*.fd-search-button {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*}*/
/*.aty-form-item {*/
/*    margin-bottom: 6px;*/
/*}*/

.fd-main-content {
    height: 92%;
}
.fd-content {
    height: 82.5%;
}

.fd-content-list {
    margin: 0 auto;
    width: 97%;
    height: 100%;
    /*background: #ff5e00;*/
}

.fd-details {
    line-height: 15px;
}
.fd-table {
    /*width: 1324px;*/
    height: 93%;
}

.fd-zts {
    width: 58px;
}
.fd-zt{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.fd-zt1{
    margin-right: 6px;
    background: #33CE91;
}
.fd-zt2{
    /*display: inline-block;*/
    margin-right: 6px;
    background: #2E5EE2;
}
.fd-zt3{
    margin-right: 6px;
    background: #FFA74E;
}
.fd-zt4{
    margin-right: 6px;
    background: #FF3939;
}
.fd-zt5{
    margin-right: 6px;
    background: #C2C2C2;
}
.fd-zt6{
    margin-right: 6px;
    background: #24E2E2;
}


.fd-button {
    position: relative;
    line-height: 45px;
    width: 100%;
    height: 45px;
    /*background: #c678dd;*/
}
.fd-search-input {
    position: absolute;
    top: 6px;
    right: 20px;
    width: 225px;
}
.fd-page {
    text-align: right;
    padding-right: 30px;
    width: 100%;
    height: 61px;
    line-height: 61px;
    /*background: yellow;*/
}
.aty-pagination-total {
    display: inline-table;
}



